<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- BLE -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Needed for BLE scan on older Android -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".WoilApp"
        android:theme="@style/Theme.Woil">

        <!-- Launcher (Splash) activity -->
        <activity
            android:name=".ui.SplashActivity"

            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Woil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".ui.VerifyOtpActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ProfileSetupActivity"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />

        <activity android:name=".ui.ClientActivity"
            android:label="Client profile"/>

        <activity android:name=".ui.PostJobActivity"
            android:exported="false" />

        <activity android:name=".ui.ApplyJobActivity" />

        <activity android:name=".ui.ClientJobApplicationsActivity" />
        <activity android:name=".ui.NotificationsActivity" />
        <activity android:name=".ui.PaymentActivity" />
        <activity android:name=".ui.PaymentSuccessActivity" />
        <activity android:name=".ui.FeedbackActivity" />


        <activity android:name=".ui.ClientJobMatchingActivity" />
        <activity android:name=".ui.ClientWorkerSelectionActivity" />
        <activity android:name=".ui.MatchingResultActivity" />
        <activity android:name=".ui.AssignedJobMapActivity" />

        <activity android:name=".ui.SkillShowcaseActivity" />
        <activity android:name=".ui.UploadSkillVideoActivity" />

        <activity android:name=".ui.NicVerificationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity android:name=".ui.MapPickerActivity" />

        <activity android:name=".ui.JobsByCategoryActivity"/>
        <activity android:name=".ui.JobDetailActivity"/>







    </application>
</manifest>
